<html>

<head>
	<%- include('./partials/head.ejs') %>
</head>

<body>
	<%- include('./partials/userHeader.ejs') %>
	<%- include('./partials/nav.ejs') %>

	<section class="container h-center">
		<div class="box b2-3 ground radius-5 padding-10">
			<h1 class="box b1 underline lucida-grande center">Painel de controle</h1>
		</div>
	</section>

	<%- include('./partials/loader.ejs') %>
</body>
<footer>
	<%- include('./partials/footer.ejs') %>
</footer>

</html>