<html>

<head>
  <%- include('./../partials/head.ejs') %>
</head>

<body>
  <%- include('./../partials/userHeader.ejs') %>
  <%- include('./help/variation.ejs') %>
  <%- include('./../partials/sidebar.ejs') %>
  <section class="container h-center">
    <div id="category-box" class="box b2-3 container ground border-st radius-5 padding-5">
      <%- include('./create/form.ejs') %>
      <%- include('./filter/box.ejs') %>
    </div>
    <%- include('./detail/box.ejs') %>
  </section>
  <%- include('./../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../partials/footer.ejs') %>
  <script src="/scripts/product/main.js"></script>
  <script src="/scripts/category/main.js"></script>
  <script src="/scripts/category/variation/main.js"></script>
  <%- include('./create/script.ejs') %>
  <%- include('./filter/script.ejs') %>
  <%- include('./detail/script.ejs') %>
  <%- include('./detail/variation/create/script.ejs') %>
  <%- include('./detail/variation/filter/script.ejs') %>

  <script>
    document.getElementById("category-filter-form").submit.click();
  </script>
</footer>

</html>