<html>

<head>
  <%- include('./../../partials/head.ejs') %>
</head>

<body>
  <%- include('./../../partials/header.ejs') %>
  <%- include('./../../partials/sidebar.ejs') %>
  <section class="container h-center">
    <div class="box b2-3 container ground radius-5 padding-10 h-center">
      <%- include('./stats/box.ejs') %>
      <%- include('./PIX/create-cob/form.ejs') %>
    </div>

  </section>
  <%- include('./../../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../../partials/footer.ejs') %>
  <%- include('./PIX/create-cob/script.ejs') %>
  <script src="scripts/user/main.js"></script>
</footer>

</html>