<html>

<head>
  <%- include('./../partials/head.ejs') %>
</head>

<body>
  <%- include('./../partials/userHeader.ejs') %>
  <%- include('./help/code.ejs') %>
  <%- include('./../partials/sidebar.ejs') %>

  <section class="container padding-10 h-center">
    <div class="box b2-3 container border-st ground margin-top-10 padding-10 radius-10">
      <%- include('./create/form.ejs') %>
    </div>

    <div class="box b2-3 container ground border-st margin-top-10 padding-10 radius-10">
      <%- include('./filter/form.ejs') %>
    </div>

  </section>
  <%- include('./../partials/msg.ejs') %>
  <%- include('./../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../partials/footer.ejs') %>
  <script src="/scripts/product/main.js"></script>
  <script src="/scripts/product/image.js"></script>
  <%- include('./create/script.ejs') %>
  <%- include('./create/image/script.ejs') %>
  <%- include('./create/image/upload-script.ejs') %>
  <%- include('./filter/script.ejs') %>
</footer>

</html>