<html>

<head>
  <%- include('./../partials/head.ejs') %>
</head>

<body>
  <%- include('./../partials/userHeader.ejs') %>
  <%- include('./help/code.ejs') %>
  <%- include('./../partials/sidebar.ejs') %>

  <section class="container padding-10 h-center">
    <div id="product-create-box" class="box"></div>
  </section>
</body>
<footer>
  <%- include('./../partials/footer.ejs') %>
  <script src="/scripts/product/main.js"></script>
  <script src="/scripts/product/image.js"></script>

  <script>
    console.log(lib.sanitize('<img onerror="alert(`okok`)" src="x">'));
  </script>
</footer>

</html>